.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, Verdana, Helvetica, Arial, sans-serif;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table tr:last-child td {
    border-bottom: none;
}

.reveal em {
    font-style: normal;
    font-weight: bold;
    color: #F00;
}

.reveal blockquote {
    margin: 20px auto 10px auto;
    padding: 10px;
    font-style: normal;
    font-size:14pt;
    background: #FFF;
}

.reveal a {
  color: #5858FA!important;
}

.reveal .padTop {
  padding-top: 20px;
}

.reveal .sequence {
  background: #ffffff;
}

.reveal .alert {
  text-align: left;
  padding-left: 5px;
  margin-top: 20px;
  font-size: 14pt;
  width: auto;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #9283a5;
  background: -moz-radial-gradient(center, circle cover, #c6ccd1 0%, #9283a5 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #c6ccd1), color-stop(100%, #9283a5));
  background: -webkit-radial-gradient(center, circle cover, #c6ccd1 0%, #9283a5 100%);
  background: -o-radial-gradient(center, circle cover, #c6ccd1 0%, #9283a5 100%);
  background: -ms-radial-gradient(center, circle cover, #c6ccd1 0%, #9283a5 100%);
  background: radial-gradient(center, circle cover, #c6ccd1 0%, #9283a5 100%);
  background-color: #9283a5; 
}

/*********************************************
 * Copy from Bootstrap
 *********************************************/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

.reveal .panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.reveal .panel-body {
  padding: 15px;
}
.reveal .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.reveal .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.reveal .panel-title > a {
  color: inherit;
}
.reveal .panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.reveal .panel-default {
  border-color: #ddd;
}
.reveal .panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.reveal .panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ddd;
}
.reveal .panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ddd;
}
.reveal .panel-primary {
  border-color: #428bca;
}
.reveal .panel-primary > .panel-heading {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}
.reveal .panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #428bca;
}
.reveal .panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #428bca;
}
.reveal .panel-success {
  border-color: #d6e9c6;
}
.reveal .panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.reveal .panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #d6e9c6;
}
.reveal .panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #d6e9c6;
}
.reveal .panel-info {
  border-color: #bce8f1;
}
.reveal .panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.reveal .panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #bce8f1;
}
.reveal .panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #bce8f1;
}
.reveal .panel-warning {
  border-color: #faebcc;
}
.reveal .panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.reveal .panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #faebcc;
}
.reveal .panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #faebcc;
}
.reveal .panel-danger {
  border-color: #ebccd1;
}
.reveal .panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.reveal .panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ebccd1;
}
.reveal .panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ebccd1;
}
